h1, h2, h3 {
    font-family: 'Lobster', Georgia, Times, serif;
}

p {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.carousel-caption {
    background: rgba(0,0,0,0.5);
}

.carousel {
    max-height: 25rem;
}

/* CSS3 ROLL LINKS */

.roll-link {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    -ms-perspective: 600px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
}

    .roll-link:hover {
        text-decoration: none;
    }

    .roll-link span {
        display: block;
        position: relative;
        padding: 0 2px;
        transition: all 400ms ease;
        transform-origin: 50% 0;
        transform-style: preserve-3d;
    }

    .roll-link:hover span {
        background: #DD4D42;
        transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
    }

    .roll-link span:after {
        content: attr(data-title);
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        padding: 0 2px;
        color: #fff;
        background: #DD4D42;
        transform-origin: 50% 0;
        transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
    }

/* Footer */
footer {
    background: #222 url('data:image/svg+xml;base64,PHN2ZyBpZD0icGF0dGVybiIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiPgogIDxkZWZzPgogICAgPHBhdHRlcm4gaWQ9ImhhdGNoIiB3aWR0aD0iNCIgaGVpZ2h0PSI0IiBwYXR0ZXJuVW5pdHM9InVzZXJTcGFjZU9uVXNlIj4KICAgICAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjQiIGhlaWdodD0iNCIgZmlsbD0iIzMzMyIgLz4KICAgICAgPHJlY3QgeD0iMiIgeT0iMCIgd2lkdGg9IjIiIGhlaWdodD0iMiIgZmlsbD0iIzNCM0IzQiIgLz4KICAgICAgPHJlY3QgeD0iMCIgeT0iMiIgd2lkdGg9IjIiIGhlaWdodD0iMiIgZmlsbD0iIzNCM0IzQiIgLz4KICAgIDwvcGF0dGVybj4KICA8L2RlZnM+CiAgPHJlY3QgZmlsbD0idXJsKCNoYXRjaCkiIHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIC8+Cjwvc3ZnPgo=') /*/media/common/pattern.svg*/;
    position: relative;
    color: #ececec;
    width: 100vw;
    margin-bottom: 0;
    padding-top: 10px;
    text-align: center;
}

    footer ul {
        float: left;
        margin: 0;
        padding: 0;
    }

    footer li img {
        display: block;
        margin: 0;
        padding: 0;
    }

.navbar-brand img {
    max-width: 120px;
    max-height: 65px;
    margin-top: -7px;
    background: rgba(255,255,255,0.9);
    border: 1px solid lightsteelblue;
}

.carousel-caption .img-responsive {
    height: 70px;
    width: auto;
}

nav li:last-child {
    border-left: 2px solid #888;
}