// Animations Partial File

@mixin bounce($vendor: "") {
  0%,
  20%,
  50%,
  80%,
  100% {
    #{$vendor}transform: translateY(0);
  }
  40% {
    #{$vendor}transform: translateY(-30px);
  }
  60% {
    #{$vendor}transform: translateY(-15px);
  }
}

@keyframes bounce {
  @include bounce;
}

@-webkit-keyframes bounce {
  @include bounce(-webkit-);
}

@-o-keyframes bounce {
  @include bounce(-o-);
}

@-moz-keyframes bounce {
  @include bounce(-moz-);
}

.bounce {
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -ms-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.bounce,
.bounce:hover {
  color: lightgrey;
}
