// Main Sass File
body {
  padding-top: 60px;
  background-color: #f5f5f5 !important; //box-shadow: inset 0px 0px 20px 10px rgba(224,217,224,1);
}

/* Navbar override */

.navbar-brand {
  height: 45px;
  padding: 10px 15px;

  img {
    max-width: 120px;
    max-height: 65px;
    margin-top: -7px;
    border: 1px solid lightsteelblue;
    background: rgba(255, 255, 255, 0.9);
  }
}

nav {
  li:last-child {
    border-left: 2px solid #888;
    margin-left: 5px;
  }
}

/* Bootstrap override */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #666;
}

.bg-dark {
  background-color: rgba(53, 59, 65, 0.9) !important;
}

.carousel-inner {
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.3);
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  padding: 5px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);

  h1 {
    color: #e9ecef;
  }
}

.row {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  padding-top: 0.5em;
}

/* Custom styles */

.spacer {
  display: block;
  text-align: center;
  box-shadow: 5px 4px 25px 0 rgba(180, 187, 193, 0.75);
  padding: 8px 0;
  margin-top: 0.5em;
  text-shadow: 0 1.3px 0 #999;
}

.next-prev {
  display: block;
  text-align: center;
  padding-top: 10px;
}

.card-deck {
  margin: 15px 0;
}

@import "footer";
@import "animations";
